# EditorConfig helpt om consistente code stijl aan te houden tussen editors en IDEs
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript, TypeScript, Vue, JSON
[*.{js,ts,vue,json}]
indent_style = tab
indent_size = 4
quote_type = single
max_line_length = 120

# HTML, CSS, SCSS
[*.{html,css,scss}]
indent_style = tab
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# YAML (gebruik spaties, want tabs veroorzaken vaak errors in YAML)
[*.yml]
indent_style = space
indent_size = 2