@import './base.css';

/* Global styles for Annelies Portfolio */
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(250, 150, 220);
}

a:hover {
  color: rgb(250, 150, 220);
}

h1 {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 70px;
  color: #000;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}