@import "tailwindcss";

@theme {
	--color-pink-custom: rgba(255, 182, 193, 0.8);
	--font-family-sans: 'Helvetica Neue', sans-serif;
}

/* ===== BASE STYLES ===== */
html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-sans);
	overflow-x: hidden;
}

/* ===== SCROLL INDICATOR STYLES ===== */
.scroll-indicator {
	position: absolute;
	bottom: 40px;
	cursor: pointer;
}

.scroll-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.scroll-arrow:hover {
	color: rgba(255, 182, 193);
	transform: translateY(-5px);
}

/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */


/* ===== MEDIA QUERIES ===== */

@media (max-width: 768px) {

	/* .project-description {
	  font-size: 16px;
	}

	.portfolio-container {
	  padding: 0 20px;
	}

	.portfolio-grid {
	  grid-template-columns: 1fr;
	  gap: 30px;
	}

	.project-content {
	  padding: 0 20px;
	}

	.project-title {
	  font-size: 36px;
	}

	.project-description p {
	  font-size: 20px;
	}

	.image-grid {
	  grid-template-columns: 1fr;
	  gap: 20px;
	} */
}
